<div class="container-fluid">
  <div class="row">
    <div class="col-12 mb-4 input-group">

      <select class="form-control d-inline-block" [(ngModel)]="category_id"
              (change)="getCategoryItems(category_id)">
        <option value="null" disabled selected hidden>Category</option>
        <option *ngFor="let category of categories" value="{{category._id}}">{{category.name.en}}</option>
      </select>

      <button class="btn" (click)="addCategoryItem()">
        Add category item <fa name="plus"></fa>
      </button>
    </div>
    <div class="col-12 mb-3" *ngFor="let category_item of category_items; let index = index">
      <div class="card">
        <div class="card-body d-flex justify-content-between">
          <h5 class="title">{{category_item.name.en}}</h5>
          <div class="d-inline-block">
            <button class="btn btn_outline_red mr-2" (click)="updateCategoryItem(index)">
              <fa name="cog" size="lg"></fa>
            </button>
            <button class="btn btn_outline_red" (click)="removeCategoryItem(index)">
              <fa name="trash" size="lg"></fa>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
