.advertising {
  height: 60px;
}
.form-control {
  border-radius: 10px;
}
.search_field {
  padding-left: 40px;
  background-image: url("../../../../../assets/images/icons/search.png");
  background-size: 25px;
  background-position: 3px 3px;
  background-repeat: no-repeat;
  font-size: 12px;
}
.search_results {
  font-size: 12px;
  border-bottom: 1px solid;
}

.btn_small {
  padding: 2px 12px;
  line-height: 1.3;
}
