.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #ffca00;
}
ngb-rating:focus {
  outline: none;
}
p {
  margin: 5px;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-15px, 10px);
}
