<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-right mb-4">
      <button class="btn btn_red" (click)="addCategory()">
        Add Category <fa name="plus"></fa>
      </button>
    </div>
    <div class="col-12 mb-3" *ngFor="let category of categories; let i = index">
      <div class="card">
        <div class="card-body d-flex justify-content-between">
          <h5 class="title">{{category.name.en}}</h5>
          <div class="d-inline-block">
            <button class="btn btn_outline_red mr-2" (click)="updateCategory(i)">
              <fa name="cog" size="lg"></fa>
            </button>
            <button class="btn btn_outline_red" (click)="removeCategory(i)">
              <fa name="trash" size="lg"></fa>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
