<div class="row">
  <div class="col-4 full_height text-center">
    <div class="best_seller" [routerLink]="['/home/best_sellers']">
      <img src="../../../../../assets/images/icons/insignia.png" class="img-fluid" alt="">
      <p class="text-center">{{'CLIENT.BEST_SELLERS' | translate}}</p>
    </div>
  </div>
  <div class="col-8 categories">
    <div class="row my-3">
      <div class="col-12 text-center">
        <h5>{{'COMMON.MENU' | translate | titlecase}}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-4 category text-center" *ngFor="let category of categories"
           [routerLink]="['/home/category', category._id]">
        <img src="{{category.img}}">
        <p>{{category.name | language:language.selected_language.loc }}</p>
      </div>
    </div>
  </div>
</div>
